body {
  margin: 0;
  height: 100vh;
  font-family: "Patrick Hand", cursive;
}

#firstP {
  margin-bottom: 1em;
}
#secondP {
  margin-bottom: 2em;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: cyan;
  height: 100%;
  width: 100%;
  flex: 2.5;
}

.formside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 100%;
  flex: 3;
}

.input {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.input label {
  font-size: 0.6em;
  letter-spacing: 2px;
}
.form legend {
  font-size: 1.5em;
  padding-top: 15px;
  margin-bottom: 20px;
}

.formside a {
  text-decoration: none;
}

.createDiv {
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: black;
}

.createDiv button {
  margin-top: 30px;
  background: none;
  padding: 10px 40px;
  border: 2px solid cyan;
  color: white;
  border-radius: 10px;
}

.createDiv button:hover {
  background-color: cyan;
  color: black;
}

.forminfo {
  width: 80%;
  font-size: 1.5em;
  margin-left: 30px;
  color: white;
}

.mainForm {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
  padding-left: 30px;
  padding-bottom: 12px;
}
.form {
  display: flex;
  background: rgb(13, 11, 11);
  color: white;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

.sidebar img {
  width: 100%;
  height: 100%;
}
